@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="lx-g8-7-f">
    <div class="lx-g3-f">
        <!-- Personal Picture -->
        <div class="lx-personal-info-img">
            <img src="~/Theme/GenelTheme/images/person-img.jpg" />
        </div>
        <!-- End Personal Picture -->
    </div>
    <div class="lx-personal-info lx-bloc" style="display: block; overflow: auto;">
        <h3>Edward Storm</h3>
        <em>Web Developer &amp; Designer</em>
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut.</p>
        <div class="lx-personal-info-button">
            <a href="#" class="lx-hireme">Hire Me</a>
            <a href="#" class="lx-download-resume">Download Resume</a>
        </div>
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="lx-clear-fix"></div>
    </div>
</div>