<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Alpay Akçer</title>
    <meta name="description" content="Mvc Proje Kampı">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Awesomefont -->
    <link href="~/Theme/GenelTheme/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- General CSS Settings -->
    <link href="~/Theme/GenelTheme/css/general_style.css" rel="stylesheet" />
    <!-- Main Style of the template -->
    <link href="~/Theme/GenelTheme/css/main_style.css" rel="stylesheet" />
    <!-- Reseters -->
    <link rel="stylesheet" href="~/Theme/GenelDesign/css/reset_style.css">
</head>
<body>
    <!-- Wrapper -->
    <div class="lx-wrapper">
       
        <!-- Main Menu -->
        @Html.Action("LayoutMenuPartial", "Home")
        <!-- End Main Menu -->
        <!-- Main Content -->
        @RenderBody()
        <!-- End Main Content -->
    </div>
    <!-- JQuery -->
    <script src="~/Theme/GenelTheme/js/jquery-1.12.4.min.js"></script>
    <!-- Main Script -->
    <script src="~/Theme/GenelTheme/js/script.js"></script>
</body>
</html>