
@{
    Layout = null;
}

<br />
<h1>Yeni Kategori Ekleme</h1>
<br />
Hoşgeldiniz

<form class="form-group" method="post">
    <input type="text" class="form-control" name="Name" placeholder="Kategori Adınız Giriniz" />
    <br />
    <input type="text" class="form-control" name="Description" placeholder="Kategori Açıklaması Giriniz" />
    <button class="btn btn-primary">Ekle</button>
</form>

