
<h3>MVC Kamp Tablo Örneği</h3>
<hr />
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Record</th>
                <th scope="col">Name</th>
                <th scope="col">IsActive</th>
                <th scope="col">CreateDate</th>
                <th scope="col">Process</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Music</td>
                <td>True</td>
                <td>10/10/2021</td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-warning">Detail</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Spor</td>
                <td>True</td>
                <td>10/10/2021</td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-warning">Detail</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>News</td>
                <td>True</td>
                <td>10/10/2021</td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-warning">Detail</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
