@using EntityLayer.Concrete
@model List<About>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Action("AboutPartial", "About")
<div class="col-12">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Hakkımızda Listesi</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Başlık
                        </th>
                        <th>
                            Durum
                        </th>
                        <th>
                            Oluşturma Tarihi
                        </th>
                        <th>Düzenleme</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AboutId</td>
                            <td>@item.Name</td>
                            <td class="align-self-center">
                                @if (item.IsActive == false)
                                {
                                    <small class="badge badge-danger">Pasif</small>
                                }
                                else
                                {
                                    <small class="badge badge-success">Aktif</small>
                                }
                            </td>
                            <td>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))</td>
                            <td>
                                @if (item.IsActive == false)
                                {
                                    <a href="/About/AboutIsActive/@item.AboutId" class="btn btn-success">Aktif</a>
                                }
                                else
                                {
                                    <a href="/About/AboutIsActive/@item.AboutId" class="btn btn-danger">Pasif</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
