
@{ ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oooops!</h3>
            <p>
                404 - Sayfa Bulunamadı<br />
                Üzgünüz, aradığınız sayfayı bulamadık :(
            </p>

            <div class="input-group">
                <div class="input-group-append">
                    <a href="~/AdminIstatistikler/">Ana Sayfaya Dön</a>
                </div>
            </div>
            <!-- /.input-group -->

        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

